/* default-font-setup */
body {
  font-size: 16px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* logo and navbar */

.logo {
  width: 20%;
  height: 100px;
  background-color: yellow;
}

.nav {
  width: 80%;
  height: 100px;
  background-color: saddlebrown;
}

.mobile-nav {
    width: 50%;
    height: 100px;
    background-color: pink;
    display: none;
  }

/* top 1/3 of body page */

.body-top {
  background-color: rgb(124, 145, 133);
}

.body-top-title {
  width: 100%;
  height: 100px;
  background-color: midnightblue;
}

.top-left-column {
  width: 33%;
  height: 400px;
  background-color: brown;
}

.top-middle-column {
  width: 34%;
  height: 400px;
  background-color: rgb(165, 153, 42);
}

.top-right-column {
  width: 33%;
  height: 400px;
  background-color: rgb(88, 2, 2);
}

/* middle 1/3 of body page */

.body-middle {
  background-color: steelblue;
}

.body-middle-title {
  width: 100%;
  height: 100px;
  background-color: orange;
}

.middle-left-column {
  width: 33%;
  height: 400px;
  background-color: rgb(152, 223, 173);
}

.middle-middle-column {
  width: 34%;
  height: 400px;
  background-color: rgb(29, 21, 136);
}

.middle-right-column {
  width: 33%;
  height: 400px;
  background-color: rgb(129, 9, 177);
}

/* bottom 1/3 of body page */

.body-bottom {
  background-color: paleturquoise;
}

.body-bottom-title {
  width: 100%;
  height: 100px;
  background-color: silver;
}

.bottom-left-column-1 {
  height: 300px;
  background-color: rgb(110, 228, 0);
  width: 25%;
}

.bottom-left-column-2 {
  height: 300px;
  background-color: rgb(196, 7, 54);
  width: 25%;
}

.bottom-right-column-1 {
  height: 300px;
  background-color: rgb(102, 0, 143);
  width: 25%;
}

.bottom-right-column-2 {
  height: 300px;
  background-color: rgb(104, 103, 103);
  width: 25%;
}

/* footer of page */

.footer {
  width: 100%;
  height: 100px;
  background-color: orange;
}

/* reduced sreeen sizes */

@media screen and (max-width: 1393px) {
  .top-left-column,
  .top-middle-column,
  .top-right-column,
  .middle-left-column,
  .middle-middle-column,
  .middle-right-column {
    width: 50%;
  }
  .logo {
    width: 40%;
  }
  .nav {
    width: 60%;
  }
}

@media screen and (max-width: 943px) {
  .top-left-column,
  .top-middle-column,
  .top-right-column,
  .middle-left-column,
  .middle-middle-column,
  .middle-right-column {
    width: 100%;
  }
  .bottom-left-column-1,
  .bottom-left-column-2,
  .bottom-right-column-1,
  .bottom-right-column-2 {
    width: 50%;
  }

  .logo {
    width: 50%;
  }

  .nav {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .bottom-left-column-1,
  .bottom-left-column-2,
  .bottom-right-column-1,
  .bottom-right-column-2 {
    width: 100%;
  }

  .nav {
      display: none;
  }

  .mobile-nav {
      display: block;
  }
}
