/* font family imports from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Comfortaa&family=GFS+Neohellenic&family=Revalia&display=swap");

/* default-font-setup */
body {
  font-size: 16px;
  text-align: center;
  font-family: "GFS Neohellenic", sans-serif;
  margin: 0;
  padding: 0;
}

/* add flex to all rows more easily by using single class */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* logo and navbar */

.logo-container {
  width: 25%;
  height: 100px;
  background-color: black;
  line-height: 100px;
}

.logo {
  width: 180px;
  height: 100px;
  padding-left: 10px;
  float: left;
}

/* cursor changes when logo hovered over, so user knows this is a hyperlink */

.logo:hover {
cursor: pointer;
}

.nav {
  width: 70%;
  height: 100px;
  background-color: black;
  padding-right: 5%;
}

/* mobile navigation that will display with javascript function */

.mobile-nav {
    width: 50%;
    height: 100px;
    background-color: black;
    display: none;
    cursor: pointer;
  }

  /* when the mobile-nav is hovered over, the rocket will change colour (opacity 0.8) */
  
.mobile-nav:hover > #nav-rocket {
      opacity: 0.8;
}

/* mobile navigation menu that appears below rocket logo */

  #mobile-nav-menu {
    display: none;
    position: relative;
  width: 100%;
  height: 300px;
  right: 0;
  z-index: 1;
  }

  #mobile-nav-menu ul {
    list-style: none;
    padding-left: 0;
      }

  #mobile-nav-menu ul li {
width: 100%;
height: 50px;
line-height: 50px;
font-size: 20px;
background-color: #f9f9f9;
  }

  #mobile-nav-menu ul li:hover {
    background-color: #f1f1f1;
      }

#nav-rocket {
  
  width: 60px;
  height: 100%;
  float: right;
  padding-right: 30px;
  padding-left: 30px;
}

#mobile-nav-menu ul li a {
  display: contents;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  line-height: 40px;
}

#mobile-nav-menu ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: lightgray;
}

/* navigation bar at the top */

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-size: 20px;
  height: 200px;
  line-height: 200px;
  float: right;

}

/* each button of navigation bar */

li {
  float: left;
  line-height: 40px;
  padding-right: 50px;
}

.nav ul li a,
.dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  line-height: 80px;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: lightgray;
}

li.dropdown {
  display: inline-block;
}

/* dropdown button width to match below content width */

.dropdown {
    min-width: 180px;
}

/* dropdown menu content formatting */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 20px;
}

.nav-sub {
    color: black;
    line-height: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* top 1/3 of body page */

.body-top {
  background-color: white;
}

.body-top-title {
  width: 100%;
  height: 80px;
  background-color: grey;
  font-size: 24px;
  line-height: 80px;
  color: white;
}

.top-left-column {
  width: 25%;
  height: 400px;
  display: inline-block;
}

.top-middle-column {
  width: 55%;
  height: 600px;
  background-color: white;
}

.row-1 {
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2 {
  height: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-3 {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right-column {
  width: 20%;
  height: 600px;
  background-color: lightgray;
  color:black;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
}

/* middle 1/3 of body page */

.body-middle {
  background-color: steelblue;
}

.middle {
  width: 100%;
  height: 400px;
  background-color: black;
}

/* bottom 1/3 of body page */

.body-bottom {
  background-color: paleturquoise;
}

.body-bottom-title {
  width: 100%;
  height: 100px;
  background-color: silver;
}

.bottom-left-column-1 {
  height: 300px;
  background-color: rgb(110, 228, 0);
  width: 25%;
}

.bottom-left-column-2 {
  height: 300px;
  background-color: rgb(196, 7, 54);
  width: 25%;
}

.bottom-right-column-1 {
  height: 300px;
  background-color: rgb(102, 0, 143);
  width: 25%;
}

.bottom-right-column-2 {
  height: 300px;
  background-color: rgb(104, 103, 103);
  width: 25%;
}

/* footer of page */

.footer {
  width: 100%;
  height: 100px;
  background-color: orange;
}

/* hangman game 'guessing word' setup */

#word {
  font-family: "Revalia", cursive;
  font-size: 50px;
  text-align: center;
  background-color: white;
}

/* hangman game 'keyboard' setup */

.letter {
  width: 8%;
  height: 50px;
  border-radius: 12px;
  background-color: #dba701;
  font-size: 14px;
  align-content: center;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.letter:hover {
  background-color: #ddc7a7;
  cursor:pointer;
}

/* hangman game 'buttons' set up */

.button {
  width: 30%;
  height: 50px;
  border-radius: 6px;
  background-color: #f3f3f3;
  font-size: 15px;
  align-content: center;
  margin-bottom: 20px;
  color: black;
  cursor: pointer;
}

.button:hover{
  background-color: lightgray;
}

/* hangman 'image' setup */

#man {
  width: auto;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* memory game - centre content */

.memorygame-area {
display: block;
width: 50%;
}

#my-memorygame {
  position: relative
}

/* scrambled word game */
#scramble-guess {
  font-size: 10; 
  text-transform: uppercase;
}

/* iss map */
#map {
  height: 300px;
  width: 600px;
}

/* reduced sreeen sizes */

@media screen and (max-width: 1393px) {
  .top-left-column {
    width: 30%;
    height: 400px;
  }
    
  .top-middle-column {
    width: 70%;
    height: 400px;
  }
  .top-right-column {
    width: 100%;
    height: 400px;
  }
  
  .row-1 {
    height: 150px;
  }

  .row-2 {
  height: 200px;
}
   
  .logo-container {
    width: 50%;
  }

  .nav {
    width: 45%;
  }
.menu {
  width: 130%;
}

.top-right-column {
  height: 180px;
}
}

@media screen and (max-width: 1100px) {

  .nav {
    display: none;
  }

  .mobile-nav {
    width: 40%;
    display: block;
  }

  .logo-container {
    width: 60%;
  }

  .top-left-column {
    width: 40%;
  }
    
  .top-middle-column {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
 
.row-1 {
  width: 100%;
  height: 150px;
}

.row-2 {
  width: 100%;
  height: 200px;
}
}

@media screen and (max-width: 820px) {

  .top-left-column {
    width: 100%;
    height: 250px;
  }
    
  .top-middle-column {
    width: 100%;
    height: 350px;
  }

  .row-1 {
    height: 80px;
  }

  .scores h3 {
    width: 25%;
    display: inline-block;
  }

  .scores button {
    width: 25%;
    display: inline-block;
  }

  .top-right-column {
    height: 80px;
  }
}
