/* font family imports from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Comfortaa&family=GFS+Neohellenic&family=Revalia&display=swap");

/* default-font-setup */
body {
  font-size: 16px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  background-color: #0A0A0A;
  margin: 0;
  padding: 0;
}

/* add flex to all rows more easily by using single class */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* logo and navbar */

.logo-container {
  width: 25%;
  height: 100px;
  background-color: black;
  line-height: 100px;
}

.logo {
  width: 180px;
  height: 100px;
  padding-left: 10px;
  float: left;
}

/* cursor changes when logo hovered over, so user knows this is a hyperlink */

.logo:hover {
cursor: pointer;
opacity: 0.8;
}

.nav {
  width: 70%;
  height: 100px;
  background-color: black;
  padding-right: 5%;
  font-family: "GFS Neohellenic", sans-serif;
}

/* mobile navigation that will display with javascript function */

.mobile-nav {
    width: 50%;
    height: 100px;
    background-color: black;
    display: none;
    cursor: pointer;
    font-family: "GFS Neohellenic", sans-serif;
  }

  /* when the mobile-nav is hovered over, the rocket will change colour (opacity 0.8) */
  
.mobile-nav:hover > #nav-rocket {
      opacity: 0.8;
}

/* mobile navigation menu that appears below rocket logo */

  #mobile-nav-menu {
    display: none;
    position: relative;
  width: 100%;
  height: 300px;
  right: 0;
  z-index: 1;
  }

  #mobile-nav-menu ul {
    list-style: none;
    padding-left: 0;
      }

  #mobile-nav-menu ul li {
width: 100%;
height: 50px;
line-height: 50px;
font-size: 20px;
background-color: #f9f9f9;
  }

  #mobile-nav-menu ul li:hover {
    background-color: #f1f1f1;
      }

#nav-rocket {
  
  width: 60px;
  height: 100%;
  float: right;
  padding-right: 30px;
  padding-left: 30px;
}

#mobile-nav-menu ul li a {
  display: contents;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  line-height: 40px;
}

#mobile-nav-menu ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: lightgray;
}

/* navigation bar at the top */

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-size: 20px;
  height: 150px;
  line-height: 150px;
  float: right;
}

/* each button of navigation bar */

li {
  float: left;
  line-height: 40px;
  padding-right: 50px;
}

.nav ul li a,
.dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  line-height: 80px;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: lightgray;
}

li.dropdown {
  display: inline-block;
}

/* dropdown button width to match below content width */

.dropdown {
    min-width: 180px;
}

/* dropdown menu content formatting */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 20px;
}

.nav-sub {
    color: black;
    line-height: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* main layout */

.body-top-title {
  width: 100%;
  height: 50px;
  background-color: grey;
  font-size: 24px;
  line-height: 50px;
  color: white;
}

/* hangman game */

.body-top {
  background: url("img/space-300.png");
  height: 600px;
}

.top-left-column {
  width: 25%;
  height: 400px;
  display: inline-block;
}

.top-middle-column {
  width: 55%;
  height: 600px;
}

.row-1 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2 {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-3 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right-column {
  width: 20%;
  height: 600px;
  background-color: lightgray;
  color:black;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
}

/* memory game column */

.memorygame-top {
    width: 100%;
    height: 50px;
    background: url("img/space-300.png");
}

.memory-main-section {
    width: 100%;
    height: 500px;
    background: url("img/space-300.png");
}

.memorygame-middle-column {
    width: 18%;
    height: 500px;
    clear: both;
    margin: auto;
}

.memorygame-bottom {
  width: 100%;
  height: 100px;
  background-color: silver;
  line-height: 100px;
}

/* ISS */

.iss-middle {
    background: url("img/space-300.png");
    width: 100%;
}

/* iss map */
#map {
  height: 500px;
  width: 1000px;
  margin: auto;
}

  .iss-text {
      font-size: 20px;
      color: white;
      line-height: 30px;
      width: 100%;
      text-align: center;
  }

  .iss-info {
      background: url("img/space-300.png");
      height: 100px;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  #iss-loading {
    display: inline-block;
    clear: both;
    border: 5px solid white;
    border-top: 5px solid darkblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading-cursor 2s linear infinite;
}

@keyframes loading-cursor {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* solar system */

.solar-outer {
    width: 100%;
    height: 600px;
    background: url("img/space-300.png");
}

.solar-large {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    clear: both;
    float: left;
}

.solar-sun {
    background: url("img/sun-250.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 200px;
    height: 200px;
    top: 200px;
    left: 400px;
}

.solar-sun:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-mercury {
    background: url("img/mercury.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 350px;
}

.solar-mercury:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-venus {
    background: url("img/venus.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 100px;
    height: 100px;
    top: -100px;
    left: 600px;
}

.solar-venus:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-earth {
    background: url("img/earth.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 550px;
}

.solar-earth:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-mars {
    background: url("img/mars.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 250px;
}

.solar-mars:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-jupiter {
    background: url("img/jupiter-250.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 150px;
    height: 150px;
    top: -450px;
    left: 150px;
}

.solar-jupiter:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-saturn {
    background: url("img/saturn-300.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 150px;
    height: 150px;
    top: -350px;
    left: 50px;
}

.solar-saturn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-uranus {
    background: url("img/uranus.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 100px;
    height: 100px;
    top: -400px;
    left: 900px;
}

.solar-uranus:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-neptune {
    background: url("img/neptune.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 100px;
    height: 100px;
    top: -900px;
    left: 850px;
}

.solar-neptune:hover {
    opacity: 0.8;
    cursor: pointer;
}

.solar-pluto {
    background: url("img/pluto.png");
    background-size: contain;
    position: relative;
    padding: 0 0 0 0;
    width: 50px;
    height: 50px;
    top: -500px;
    left: 0px;
}

.solar-pluto:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* hangman game 'guessing word' setup */

#word {
  font-family: "Revalia", cursive;
  font-size: 50px;
  text-align: center;
  color: white;
}

/* hangman game 'keyboard' setup */

.letter {
  width: 8%;
  height: 50px;
  border-radius: 12px;
  background-color: #dba701;
  font-size: 14px;
  align-content: center;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.letter:hover {
  background-color: #ddc7a7;
  cursor:pointer;
}

/* hangman game 'buttons' set up */

.button {
  width: 30%;
  height: 50px;
  border-radius: 6px;
  background-color: #f3f3f3;
  font-size: 15px;
  align-content: center;
  margin-bottom: 20px;
  color: black;
  cursor: pointer;
}

.button:hover{
  background-color: lightgray;
}

#memory-reset {
    width: 150px;
}

/* hangman 'image' setup */

#man {
  width: auto;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* memory game - centre content */

.memorygame-area {
display: block;
width: 100%;
}

#my-memorygame {
  position: relative
}

/* scrambled word game */
#scramble-guess {
  font-size: 20px; 
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.word-game-top {
  width: 80%;
  height: 500px;
  background-image: url("img/space-300.png");
  font-family: 'Comfortaa', cursive;
}

.word-game-btn {
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
}

.word-row-1 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject-title {
  width: 15%;
  height: 100px;
}

.subject-options {
  width: 85%;
  height: 100px;
  line-height: 100px;
}

.word-main-game {
  width: 100%;
  height: 300px;
}

.word-row-2 {
  height: 250px;
  width: 100%;
}

.word-row-3 {
  height: 50px;
  width: 100%;
}

h4 {
  color: white;
  font-size: 20px;
  }

h5 {
  color: lightcoral;
  font-size: 24px;
  font-family: 'Comfortaa', cursive;
}

h6 {
  color: white;
  font-size: 20px;
  }

.scrambled-word {
color: white;
font-size: 50px;
font-family: 'Revalia', cursive;
}

.btn-check-answer {
  width: 150px;
  margin-left: 50px;
}

/* reduced sreeen sizes */

@media screen and (max-width: 1393px) {
  .body-top {
    height: 550px;
  }

  .word-game-top {
    width: 100%;
  }
  
  .top-left-column {
    width: 30%;
    height: 400px;
  }
    
  .top-middle-column {
    width: 70%;
    height: 400px;
  }
  .top-right-column {
    width: 100%;
    height: 150px;
  }
  
  .row-1 {
    height: 150px;
  }

  .row-2 {
  height: 200px;
}
   
  .logo-container {
    width: 50%;
  }

  .nav {
    width: 45%;
  }
.menu {
  width: 130%;
}

.memorygame-middle-column {
    width: 25%;
 }

#map {
  width: 800px;
}
}

@media screen and (max-width: 1100px) {

  .nav {
    display: none;
  }

  .mobile-nav {
    width: 40%;
    display: block;
  }

  .logo-container {
    width: 60%;
  }

  .top-left-column {
    width: 40%;
  }
    
  .top-middle-column {
    width: 60%;
  }

.memorygame-middle-column {
    width: 30%;
 }
}

@media screen and (max-width: 1056px) {

.subject-title {
  width: 15%;
}

.subject-options {
  width: 85%;
}
.word-game-btn {
  margin-left: 0;
  margin-right: 0;
}
}

@media screen and (max-width: 1022px) {

.solar-sun {
    top: 200px;
    left: 400px;
}

 .solar-mercury {
     top: 50px;
    left: 350px;
}

 .solar-venus {
    top: -200px;
    left: 550px;
}

.solar-earth {
    top: 50px;
    left: 550px;
}

.solar-mars {
  left: 350px;
}

 .solar-jupiter {
    left: 150px;
}

.solar-saturn {
  left: 150px;
}

.solar-uranus {
    top: -600px;
    left: 650px;
}

.solar-neptune {
    left: 400px;
    top: -850px
}

.solar-pluto {
    top: -500px;
    left: 200px;
}
}

@media screen and (max-width: 992px) {
 
.row-1 {
  width: 100%;
  height: 150px;
}

.row-2 {
  width: 100%;
  height: 200px;
}

.memorygame-middle-column {
    width: 35%;
 }

}

@media screen and (max-width: 820px) {

  .body-top {
    height: 680px;
  }

  .solar-sun {
    top: 200px;
    left: 300px;
}

 .solar-mercury {
     top: 50px;
    left: 250px;
}

 .solar-venus {
    top: -200px;
    left: 450px;
}

.solar-earth {
    top: 50px;
    left: 450px;
}

.solar-mars {
  left: 250px;
}

 .solar-jupiter {
    left: 50px;
}

.solar-saturn {
  left: 50px;
}

.solar-uranus {
    top: -600px;
    left: 550px;
}

.solar-neptune {
    left: 300px;
    top: -850px
}

.solar-pluto {
    top: -500px;
    left: 100px;
}

  /* black margin above hangman on mobile screens */

 .sub-body-top-title {
  height: 10px;
  width: 100%;
  background-color: black;
}
  
  .top-left-column {
    width: 100%;
    height: 250px;
  }
    
  .top-middle-column {
    width: 100%;
    height: 350px;
  }

  .row-1 {
    height: 80px;
  }

  .scores h3 {
    width: 25%;
    display: inline-block;
    line-height: 40px;
  }

  .scores button {
    width: 25%;
    display: inline-block;
    line-height: 40px;
  }

  .top-right-column {
    height: 80px;
  }
.memorygame-middle-column {
    width: 40%;
 }

 #map {
  width: 600px;
}

}

@media screen and (max-width: 750px) {
  .memorygame-middle-column {
    width: 45%;
 }
 .word-row-1 {
  height: 130px;
  width: 100%;
}
.subject-title {
  width: 100%;
  height: 50px;
}

.subject-options {
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.word-game-btn {
  width: 22%;
  font-size: 13px;
}

#scramble-guess {
  width: 80%;
}

}

@media screen and (max-width: 685px) {
  
   .solar-outer {
       height: 650px;
   }
   
    .solar-sun {
    height: 100px;
    width: 100px;
    top: 350px;
    left: 250px;
    
}

 .solar-mercury {
     top: 100px;
    left: 250px;
    height: 100px;
    width: 100px;
}

 .solar-venus {
    top: -50px;
    left: 400px;
}

.solar-earth {
    top: 150px;
    left: 400px;
}

.solar-mars {
    height: 100px;
    width: 100px;
    top: 100px;
}

 .solar-jupiter {
    left: 100px;
    top: -350px;
    height: 100px;
    width: 100px;
}

.solar-saturn {
    height: 100px;
    width: 100px;
    top: -300px;
    left: 100px;
}

.solar-uranus {
    top: -400px;
    left: 400px;
}

.solar-neptune {
    left: 250px;
    top: -750px;
}

.solar-pluto {
    top: -450px;
    left: 100px;
    height: 100px;
    width: 100px;
}
 }

@media screen and (max-width: 620px) {
  .memorygame-middle-column {
    width: 50%;
 }
#map {
  height: 400px;
  width: 400px;
}

}

@media screen and (max-width: 550px) {
 
  #scramble-guess {
    margin-bottom: 10px;
  }

  .btn-check-answer {
    width: 150px;
    margin-right: 0;
    margin-left: 0;
    width: 130px;
  }
 
  .memorygame-middle-column {
  width: 60%;
 }
   
 .solar-sun {
  height: 100px;
  width: 100px;
  top: 350px;
  left: 160px;
  
}

.solar-mercury {
   top: 100px;
  left: 160px;
  height: 100px;
  width: 100px;
}

.solar-venus {
  top: -50px;
  left: 300px;
}

.solar-earth {
  top: 150px;
  left: 300px;
}

.solar-mars {
  height: 100px;
  width: 100px;
  top: 100px;
  left: 160px;
}

.solar-jupiter {
  left: 20px;
  top: -350px;
  height: 100px;
  width: 100px;
}

.solar-saturn {
  height: 100px;
  width: 100px;
  top: -300px;
  left: 20px;
}

.solar-uranus {
  top: -400px;
  left: 300px;
}

.solar-neptune {
  left: 160px;
  top: -750px;
}

.solar-pluto {
  top: -450px;
  left: 20px;
  height: 100px;
  width: 100px;
}

}

/* the below code fixes layout issues with the scores and reset button on smaller screens */

@media screen and (max-width: 485px) {
  .scores h3 {
     line-height: 25px;
  }
  .memorygame-middle-column {
    width: 70%;
  }
}

/* the below code fixes layout issues with the scores and reset button on smaller screens */

@media screen and (max-width: 482px) {

    .scores button {
    line-height: 25px;
    position: relative;
    top: -10px;
    height: 45px;
  }
 .memorygame-middle-column {
    width: 80%;
 }

 .top-right-column {
  line-height: 100px;
}
}

/* iphone 12 pro max */

@media screen and (max-width: 428px) {
  .memorygame-middle-column {
    width: 65%;
 }
 .top-right-column {
  line-height: 80px;
}

.subject-options {
  width: 90%;

}

/* iphone XR/XS Max/11/11 pro max */

  @media screen and (max-width: 414px) {
    .memorygame-top {
      height: 0px;
    }
  
    .scores button {
    line-height: 25px;
    position: relative;
    top: -25px;
    height: 60px;
  }
 .memorygame-middle-column {
    width: 70%;
 }

 #map {
  height: 300px;
  width: 300px;
}

#letters {
  font-size: 0;
}

.letter {
  width: 11%;
  height: 40px;
  padding: 0 0;
  margin: 0 0;
}

.scores {
  line-height: 130px;
}

.body-top {
  height: 400px;
}

.top-left-column {
  height: 120px;
}

#man {
  width: 120px;
  height: 120px;
}

.top-middle-column {
  height: 280px;
}

.row-1 {
  height: 50px;
}

#word {
  font-size: 30px;
}

.row-2 {
  height: 150px;
}

.letters-outer {
  height: 120px;
}

.row-3 {
  height: 80px;
}

.top-right-column {
  height: 80px;
}

.solar-sun {
  left: 160px;
  top: 200px;
}

.solar-mercury {
  left: 160px;
  top: 0px;
}

.solar-venus {
  left: 300px;
  top: -150px;
}

.solar-earth {
  left: 300px;
  top: -50px;
}

.solar-mars {
  left: 160px;
  top: -100px;
}

.solar-jupiter {
  left: 20px;
  top: -450px;
}

.solar-saturn {
  left: 20px;
  top: -450px;
}

.solar-uranus {
  left: 300px;
  top: -550px;
}

.solar-neptune {
  left: 160px;
  top: -800px;
}

.solar-pluto {
  left: 20px;
  top: -650px;
}

.solar-large {
  padding-top: 50px;
}
}

/* pixel 3, 3XL, iphone 12 / 12 pro / Galaxy S21 */
@media screen and (max-width: 393px) { 

  .top-right-column {
    line-height: 80px;
  }
  .btn-reset {
  width: 50px;
}

.scores {
  line-height: 100px;
}


.solar-sun {
  left: 150px;
  top: 200px;
}

.solar-mercury {
  left: 150px;
  top: 0px;
}

.solar-venus {
  left: 280px;
  top: -150px;
}

.solar-earth {
  left: 280px;
  top: -50px;
}

.solar-mars {
  left: 150px;
  top: -100px;
}

.solar-jupiter {
  left: 20px;
  top: -450px;
}

.solar-saturn {
  left: 20px;
  top: -450px;
}

.solar-uranus {
  left: 280px;
  top: -550px;
}

.solar-neptune {
  left: 150px;
  top: -800px;
}

.solar-pluto {
  left: 20px;
  top: -650px;
}

}

/* iphone XS, X, 11 pro, 12 mini */
@media screen and (max-width: 375px) {
  .memorygame-middle-column {
    width: 75%;
    height: 420px;
  }

.solar-sun {
  left: 145px;
  top: 200px;
}

.solar-mercury {
  left: 145px;
  top: 0px;
}

.solar-venus {
  left: 260px;
  top: -150px;
}

.solar-earth {
  left: 260px;
  top: -50px;
}

.solar-mars {
  left: 145px;
  top: -100px;
}

.solar-jupiter {
  left: 20px;
  top: -450px;
}

.solar-saturn {
  left: 20px;
  top: -450px;
}

.solar-uranus {
  left: 260px;
  top: -550px;
}

.solar-neptune {
  left: 145px;
  top: -800px;
}

.solar-pluto {
  left: 20px;
  top: -650px;
}

}

/* Galaxy S9/Note 8/S8 */
@media screen and (max-width: 360px) {
  .memorygame-middle-column {
    width: 78%;
    height: 420px;
}

.solar-sun {
  left: 130px;
  top: 200px;
}

.solar-mercury {
  left: 130px;
  top: 0px;
}

.solar-venus {
  left: 240px;
  top: -150px;
}

.solar-earth {
  left: 240px;
  top: -50px;
}

.solar-mars {
  left: 130px;
  top: -100px;
}

.solar-jupiter {
  left: 20px;
  top: -450px;
}

.solar-saturn {
  left: 20px;
  top: -450px;
}

.solar-uranus {
  left: 240px;
  top: -550px;
}

.solar-neptune {
  left: 130px;
  top: -800px;
}

.solar-pluto {
  left: 20px;
  top: -650px;
}
.word-row-1 {
  height: 200px;
  width: 100%;
}
.subject-title {
  width: 100%;
  height: 40px;
  line-height: 0px;
  margin-top: 10px;
}

.subject-options {
  width: 100%;
  height: 120px;
  line-height: 60px;
}

.word-game-btn {
  width: 40%;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.scrambled-word {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  margin-top: 15px;
  height: 20px;
}

h6 {
  font-size: 16px;
  padding-top: 20px;
  margin-top: 15px;
  height: 15px;
}

#scramble-guess {
  width: 90%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-check-answer {
  width: 30%;
}

.word-main-game {
  width: 100%;
  height: 300px;
}

.word-row-2 {
  height: 250px;
  width: 100%;
}

.word-row-3 {
  height: 50px;
  width: 100%;
}

}

/* iphone 5/SE */
@media screen and (max-width: 320px) {
  #map {
    height: 250px;
    width: 250px;
  }
  .memorygame-top {
    height: 0px;
  }
    .memorygame-middle-column {
      width: 87%;
      height: 420px;
}

.solar-sun {
  left: 110px;
  top: 200px;
}

.solar-mercury {
  left: 110px;
  top: 0px;
}

.solar-venus {
  left: 200px;
  top: -150px;
}

.solar-earth {
  left: 200px;
  top: -50px;
}

.solar-mars {
  left: 110px;
  top: -100px;
}

.solar-jupiter {
  left: 10px;
  top: -450px;
}

.solar-saturn {
  left: 10px;
  top: -450px;
}

.solar-uranus {
  left: 200px;
  top: -550px;
}

.solar-neptune {
  left: 110px;
  top: -800px;
}

.solar-pluto {
  left: 10px;
  top: -650px;
}

.solar-large {
  padding-top: 0px;
}

}

/* samsung galaxy fold */
@media screen and (max-width: 300px) {
  .memorygame-middle-column {
    width: 100%;
    height: 420px;
}
.memorygame-top {
  height: 0px;
}

.solar-sun {
  left: 95px;
  top: 200px;
  height: 90px;
  width: 90px;
}

.solar-mercury {
  left: 95px;
  top: 20px;
  height: 90px;
  width: 90px;
}

.solar-venus {
  left: 185px;
  top: -130px;
  height: 90px;
  width: 90px;
}

.solar-earth {
  left: 185px;
  top: -25px;
  height: 90px;
  width: 90px;
}

.solar-mars {
  left: 95px;
  top: -65px;
  height: 90px;
  width: 90px;
}

.solar-jupiter {
  left: 5px;
  top: -400px;
  height: 90px;
  width: 90px;
}

.solar-saturn {
  left: 5px;
  top: -390px;
  height: 90px;
  width: 90px;
}

.solar-uranus {
  left: 185px;
  top: -485px;
  height: 90px;
  width: 90px;
}

.solar-neptune {
  left: 95px;
  top: -700px;
  height: 90px;
  width: 90px;
}

.solar-pluto {
  left: 5px;
  top: -560px;
  height: 90px;
  width: 90px;
}

}